/* general html styles */
.view-menu {
    height: 50px;
}

.view-block {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background: #ffffff;
    border: solid 1px;
}

/* info view */
.info-text {
    font-size: 10px;
    font-family: Verdana;
    text-anchor: start;
}

.info-title {
    font-size: 10px;
    font-family: Fantasy;
    text-anchor: middle;
}


/* rank view */
.rank-bar {
    fill: #E6E6E6;
}

.rank-tooltip { /* I think a fixed window is reasonable here for zooming */
    pointer-events: none;
    position: absolute;
    text-align: center;
    font: 10px sans-serif;
    border: solid 1px;
    background: #DDDDDD;
    margin-top:  -55px; /* left shift*/
    margin-left: -70px; /* up shift*/
    padding: 6px;
    width:  120px;
    height: 100px;
}

.rank-tooltip-rect-frame {
    fill: #818181;
    opacity: 0.3;
}

.rank-tooltip-text {
    color: #000000;
    font: 10px sans-serif;
}

.rank-area {
    fill: #4860f5;
    stroke: #4860f5;
    opacity: 0.5;
}

.rank-circle {
    fill: #ff8151;
    stroke: #f5256e;
    opacity: 0.5;
}

.rank-highlight-bar {
    fill: #f5256e;
    stroke: none;
    opacity: 0.5;
}

.rank-year-text {
    text-anchor: middle;
    font: 10px sans-serif;
    fill: #000000;
}

.rank-player-text {
    text-anchor: middle;
    font: 10px sans-serif;
    fill: #000000;
}