.view-menu {
    height: 50px;
}

.view-block {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background: #ffffff;
    border: solid 1px;
}
.yeaAxis {
    stroke-dasharray: 5, 5;
    stroke: #000000
}