.view-right-sidebar {
    display: inline-block;
    float: right;
}

.view-left-sidebar {
    display: inline-block;
    float: left;
}

.view-menu {
    height: 50px;
}

.view-block {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background: #ffffff;
    border: solid 1px;
}
