.view-right-sidebar {
    display: inline-block;
    float: right;
}

.view-left-sidebar {
    display: inline-block;
    float: left;
}

.view-menu {
    height: 50px;
}

.view-block {
    width: 100%;
}
