.view-right-sidebar {
    display: inline-block;
    width: 40%;
    float: right;
    background: #FFACAA;
}

.view-left-sidebar {
    display: inline-block;
    width: 60%;
    float: left;
}

.view-menu {
    height: 50px;
    background: #ffffff;
}

.view-block {
    width: 100%;
}
